@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>GitHub Activities</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row text-center">
			<h1>GitHub Activities using WebHooks</h1>
			<hr />
			<div class="col-md-10">
				<table class="table" id="tblGithubActivities">
					<thead>
						<tr>
							<th style="text-align: center">Activity Type</th>
							<th style="text-align: center">Description</th>
							<th style="text-align: center">Check on GitHub</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<img title="image" style="border-top:0;border-right:0;background-image:none;border-bottom:0;padding-top:0;padding-left:0;border-left:0;display:inline;padding-right:0;" alt="image" src="http://www.dotnetcurry.com/images/aspnet/ASP.NET-WebHooks_6CBE/image.png" width="607" height="305" border="0">
    </div>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="Scripts\App.js"></script>
</body>
</html>
